<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="/opt/logs/account.log"
			filePattern="/opt/logs/account/$${date:yyyy-MM-dd}/account-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
			<DefaultRolloverStrategy max="1000000" min="0" />
		</RollingFile>
	</appenders>
	<loggers>
		<root level="trace">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>